@font-face {
	font-family: "PT Sans";
	src: url("../fonts/ptsans-400.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	src: url("../fonts/ptsans-700.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

input[type="number"] {
	-moz-appearance: textfield;
}

body {
	margin: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
	background-color: #f2f2f2;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
	margin: -1px;
	padding: 0;
}

.button {}



.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #ffffff;
	width: 1200px;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
	margin: 0 auto;
}

.header {
	position: relative;
}

.logo-link {
	position: absolute;
	top: 0;
	left: 71px;
}

.logo-link:hover {
	opacity: 80%;
}

.logo-link:focus-visible {
	opacity: 80%;
	outline: none;
}

.logo-link:active {
	opacity: 50%;
}

.header-nav {
	display: flex;
	justify-content: space-between;
	margin-left: 239px;
	margin-right: 70px;
}

.nav {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	max-width: 500px;
	margin: 0;
	padding: 0;
}

.nav-link {
	display: block;
	color: #000000;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	text-decoration: none;
	box-sizing: border-box;
	padding: 20px 16px;
}

.nav-link:hover {
	color: #756157;
}

.nav-link:focus-visible {
	color: #756157;
	outline: none;
}

.nav-link:active {
	color: rgba(117, 97, 87, 0.3);
}

.active {
	position: relative;
}

.active::before {
	position: absolute;
	content: "";
	width: 68px;
	height: 2px;
	background-color: #756257;
	bottom: -1px;
	left: calc(50% - 34px);
}

.user-nav {
	list-style: none;
	width: 320px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin: 0;
	padding: 14px 0 14px;
}

.user-nav-link {
	display: block;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none;
	text-align: center;
	box-sizing: border-box;
	padding: 9px 44px 0 0;
}

.search {
	width: 36px;
	height: 36px;
	color: #000000;
}

.search:hover {
	color: #756157;
}

.search:focus-visible {
	color: #756157;
	outline: none;
}

.search:active {
	color: rgba(117, 97, 87, 0.3);
}

.favorite {
	position: relative;
	width: 36px;
	height: 36px;
	color: #000000;
}

.favorite:hover {
	color: #756157;
}

.favorite:focus-visible {
	color: #756157;
	outline: none;
}

.favorite:active {
	color: rgba(117, 97, 87, 0.3);
}

.favorite-number {
	color: #ffffff;
	font-weight: 400;
	font-size: 10px;
	line-height: 10px;
	min-width: 20px;
	height: 20px;
	background-color: #7db54f;
	border-radius: 12px;
	position: absolute;
	left: 7px;
	top: -4px;
	box-sizing: border-box;
	padding: 5px;
}

.wish {
	border-radius: 4px;
	background-color: #756157;
	font-size: 16px;
	line-height: 20px;
	max-width: 300px;
	padding: 8px 34px;
	margin-left: 8px;
}

.wish:hover {
	background-color: #615048;
}

.wish:focus-visible {
	background-color: #615048;
	outline: none;
}

.wish:active {
	background-color: #756157;
	color: rgba(255, 255, 255, 0.3);
}

.main {
	flex-grow: 1;
}

.welcome {
	background-color: #2d4758;
	background-image: url("../images/welkome/white-vector.svg"), url("../images/welkome/index-background.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto, cover;
	background-position: bottom, 0 0;
	min-height: 485px;
	box-sizing: border-box;
}

.welkome-img {
	display: block;
	margin: 0 auto;
	padding: 49px 0 84px;
}

.description {
	text-align: center;
	max-width: 700px;
	margin: 0 auto;
	padding: 68px 0 65px;
}

.description-title {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	margin: 0 0 26px;
}

.description-text {
	color: #333333;
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	margin: 0 0 24px;
}

.reasons-list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.reasons-list-item {
	width: 400px;
	min-height: 385px;
	background-color: rgba(131, 179, 211, 0.12);
	flex-grow: 1;
}

.reasons-list-item:nth-child(2n-1) {
	background-color: rgba(131, 179, 211, 0.2);
}

.reasons-box {
	display: flex;
	flex-wrap: wrap;
	width: 230px;
	margin: 0 auto;
	padding: 103px 0 90px;
}

.reasons-list-title {
	position: relative;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	width: 175px;
	margin: 0 auto;
	padding: 10px 0 32px;
}

.reasons-list-title::before {
	position: absolute;
	content: "";
	width: 60px;
	height: 2px;
	background-color: rgba(0, 0, 0, 0.3);
	bottom: 0;
	left: calc(50% - 30px);
}

.reasons-list-text {
	color: #333333;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	margin: 0;
	padding: 30px 0 0;
}

.reasons-box-img {
	padding: 90px 0 90px;
}

.reasons-list-img {
	display: flex;
	width: 100%;
	background: #82b3d3;
	flex-grow: 1;
}

.reasons-img-title {
	color: #ffffff;
	padding: 12px 0 20px;
}

.reasons-img-title::before {
	background-color: rgba(255, 255, 255, 0.3);
}

.reasons-img-text {
	color: #ffffff;
}

.reasons-img {
	display: block;
	min-width: 800px;
	height: auto;
	object-fit: cover;
}

.invate-text-box {
	max-width: 600px;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 65px 0 44px;
}

.invite-title {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;
	margin: 0 0 20px;
}

.invite-text {
	color: #333333;
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	margin: 0 0 20px;
}

.invite-card {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.invite-card-item {
	width: 400px;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center 80px;
	flex-grow: 1;
	padding: 184px 0 64px;
}

.invite-card-item:nth-child(2n-1) {
	background-color: rgba(131, 179, 211, 0.12);
}

.invite-card-title {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	width: 230px;
	margin: 0 auto;
	padding: 0 0 15px;
}

.invite-card-text {
	color: #333333;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	width: 230px;
	margin: 0 auto;
	padding: 15px 0;
}

.house {
	background-image: url("../images/invite-card/house.svg");
}

.food {
	background-image: url("../images/invite-card/food.svg");
}

.present {
	background-image: url("../images/invite-card/present.svg");
}

.hotels {
	text-align: center;
	max-width: 700px;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 96px 0 96px;
}

.hotels-title {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	margin: 0 0 20px;
}

.hotels-text {
	color: #333333;
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	margin: 0 0 54px;
}

.search-button {
	display: inline-block;
	color: #ffffff;
	font-weight: 700;
	font-size: 20px;
	line-height: 36px;
	background-color: #756157;
	text-transform: uppercase;
	text-decoration: none;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	padding: 9px 50px;
	margin: 0;
}

.search-button:hover {
	background-color: #615048;
}

.search-button:focus-visible {
	outline: none;
	background-color: #615048;
}

.search-button:active {
	background-color: #756157;
	color: rgba(255, 255, 255, 0.3);
}

.subscription {
	min-height: 414px;
	box-sizing: border-box;
	padding: 96px 0 75px;
}

.subscription-index {
	background-color: #2d4758;
	background-image: url("../images/form/input-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #ffffff;
}

.subscription-box {
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
}

.subscription-title {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	margin: 0 0 20px;
}

.subscription-text {
	color: #333333;
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	margin: 0 0 30px;
}

.subscription-index .subscription-text {
	color: #ffffff;
}

.subscription-form {
	display: flex;
	width: 685px;
	margin: 0 auto;
	padding: 24px 0 0;
}

.form-input {
	width: 452px;
	font-family: inherit;
	color: rgba(0, 0, 0, 0.6);
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	background-color: #f2f2f2;
	border: none;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	padding-left: 21px;
}

.form-input:hover {
	background-color: #e5e5e5;
	color: rgba(0, 0, 0, 0.6);
}

.form-input:focus-visible {
	outline: none;
	border: 3px solid #83b3d3;
	background-color: #e5e5e5;
	color: #000000;
}

.form-button {
	font-family: inherit;
	color: #ffffff;
	font-weight: 700;
	font-size: 20px;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;
	background-color: #82B3D3;
	border: none;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 8px 51px;
}

.form-button:hover {
	background-color: #68a2ca;
}

.form-button:focus-visible {
	background-color: #68a2ca;
	outline: none;
}

.form-button:active {
	background-color: #68a2ca;
	color: rgba(255, 255, 255, 0.3);
}


.footer {
	display: flex;
	column-gap: 192px;
	min-height: 120px;
	box-sizing: border-box;
	padding: 46px 72px 20px;
}

.social-list {
	list-style: none;
	width: 150px;
	min-height: 40px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0;
	padding: 0;
}

.social-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 47px;
	height: 40px;
	color: #83b3d3;
}

.social-link:hover {
	color: #68a2ca;
}

.social-link:focus-visible {
	color: #68a2ca;
	outline: none;
}

.social-link:active {
	color: rgba(104, 162, 202, 0.3);
}

.phone {
	display: block;
	color: #000000;
	font-weight: 400;
	font-size: 40px;
	line-height: 40px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	width: 400px;
	white-space: nowrap;
	margin: 0 0 8px;
}

.phone:hover {
	color: #756157;
}

.phone:focus-visible {
	color: #756157;
	outline: none;
}

.phone:active {
	color: rgba(117, 97, 87, 0.3);
}

.academy-link {
	color: #000000;
	width: 125px;
	text-align: end;
	display: block;
}

.academy-link:hover {
	color: #756157;
}

.academy-link:focus-visible {
	color: #756157;
	outline: none;
}

.academy-link:active {
	color: rgba(117, 97, 87, 0.3);
}


/* CATALOG */

.active-inner {
	position: relative;
}

.active-inner::before {
	position: absolute;
	content: "";
	width: 93px;
	height: 2px;
	background-color: #756257;
	bottom: -1px;
	left: calc(50% - 46px);
}

.header-inner {
	background-color: #2d4758;
	background-image: url("../images/form/catalog-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	min-height: 412px;
	box-sizing: border-box;
	color: #ffffff;
	padding: 35px 70px;
}

.header-inner-title {
	font-weight: 700;
	font-size: 60px;
	line-height: 78px;
	margin: 0 0 7px;
}

.breadcrambs {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 20px;
	padding: 0;
	margin: 0;
}

.breadcrambs-item:not(:first-child) {
	list-style-image: url("../images/icons/breadcrambs.svg");
	padding-left: 6px;
}

.breadcrambs-link {
	display: block;
	color: #ffffff;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	text-decoration: none;
}

.home {
	background-image: url("../images/icons/home.svg");
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	width: 15px;
	min-height: 20px;
}

.breadcrambs-link:hover {
	opacity: 60%;
}

.breadcrambs-link:focus-visible {
	outline: none;
	opacity: 60%;
}

.breadcrambs-link:active {
	opacity: 30%;
}

.breadcrambs-item:last-child .breadcrambs-link {
	pointer-events: none;
}

.hotels-filter {
	display: flex;
	flex-wrap: wrap;
	column-gap: 152px;
	margin: 40px 0 0;
}

.filter-left {
	display: flex;
	flex-wrap: wrap;
	column-gap: 70px;
}

.filter-right {
	display: flex;
	flex-wrap: wrap;
	column-gap: 70px;
}

.filter-box {
	margin: 0;
	padding: 0;
	border: none;
}

.filter-title {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	text-transform: capitalize;
	margin: 0 0 32px;
	padding: 0;
}

.filter-list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.filter-item:not(:last-child) {
	margin-bottom: 16px;
}

.checkbox {
	padding-left: 36px;
	display: inline-block;
	position: relative;
	cursor: pointer;
}

.checkbox::before {
	content: "";
	width: 20px;
	height: 20px;
	position: absolute;
	left: 0;
	top: 2px;
	background-color: #ffffff;
	border-radius: 4px;
}

.checkbox::after {
	content: "";
	width: 9px;
	height: 5px;
	position: absolute;
	left: 5px;
	top: 7px;
	border-left: 2px solid #3f5e72;
	border-bottom: 2px solid #3f5e72;
	transform: rotate(-45deg);
	display: none;
}

.radiobox {
	padding-left: 36px;
	display: inline-block;
	position: relative;
	cursor: pointer;
}

.radiobox::before {
	content: "";
	width: 20px;
	height: 20px;
	position: absolute;
	left: 2px;
	top: 2px;
	background-color: #ffffff;
	border-radius: 50%;
}

.radiobox::after {
	content: "";
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position: absolute;
	left: 7px;
	top: 7px;
	background-color: #3f5e72;
	display: none;
}

.control:checked + .control-label::after {
	display: block
}

.checkbox:hover,
.radiobox:hover {
	opacity: 60%;
}

.checkbox:active,
.radiobox:active {
	opacity: 30%;
}

.filter-label {
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
}

.filter-check:focus-visible + .checkbox::before {
	outline: 3px solid #83b3d3;
}

.filter-check:focus-visible + .radiobox::before {
	outline: 3px solid #83b3d3;
}

.range-form {
	list-style: none;
	display: flex;
	column-gap: 2px;
	margin: 0 0 44px;
	padding: 0;
}

.range-item {
	position: relative;
}

.range-input {
	width: 143px;
	padding: 12px 44px 12px 20px;
	box-sizing: border-box;
	font-family: inherit;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	background-color: #f2f2f2;
	border: none;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.range-input:hover {
	background-color: #e5e5e5;
}

.range-input:focus-visible {
	background-color: #e5e5e5;
	outline: 3px solid #83b3d3;
}

.range-label {
	font-family: inherit;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	opacity: 0.3;
	position: absolute;
}

.input-min {
	border-radius: 4px 0 0 4px;
}

.label-min {
	top: 13px;
	right: 20px;
}

.input-max {
	border-radius: 0 4px 4px 0;
}

.label-max {
	top: 13px;
	right: 20px;
}

.range-scale {
	position: relative;
	width: 287px;
	height: 4px;
	background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
	position: absolute;
	height: 4px;
	background-color: #ffffff;
}

.range-toggle {
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: #ffffff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.range-toggle:hover {
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:focus-visible {
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
	outline: 3px solid #83b3d3;
}

.range-toggle:active {
	box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.4);
	outline: 2px solid #83b3d3;
}

.toggle-min {
	top: -8px;
	left: 0;
}

.toggle-max {
	top: -8px;
	left: 207px;
}

.button-box {
	display: flex;
	flex-direction: column;
	padding: 56px 0 0;
	row-gap: 33px;
}

.filter-button {
	font-family: inherit;
	color: #ffffff;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	border: none;
	border-radius: 4px;
	padding: 8px 50px;
}

.apply {
	background-color: #82b3d3;
}

.apply:hover {
	background-color: #68a2ca;
}

.apply:focus-visible {
	background-color: #68a2ca;
	outline: none;
}

.apply:active {
	background-color: #68a2ca;
	color: rgba(255, 255, 255, 0.3);
}

.reset {
	background-color: rgba(255, 255, 255, 0);
	padding: 8px 50px;
}

.reset:hover {
	opacity: 60%;
}

.reset:focus-visible {
	outline: 3px solid #83b3d3;
}

.reset:active {
	opacity: 30%;
	outline: none;
}

.catalog {
	width: 1060px;
	box-shadow: 0 1px 0 0 #e6e6e6;
	margin: 0 auto;
	padding: 50px 0 42px;
}

.sorting {
	display: flex;
	flex-wrap: wrap;
	min-height: 49px;
	gap: 38px;
	margin: 0 0 39px;
}

.hotels-found {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	width: 500px;
	margin: 0;
	padding: 6px 0;
}

.select-control {
	font-family: inherit;
	color: #333333;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	width: 292px;
	height: 49px;
	border: 2px solid #e5e5e5;
	border-radius: 4px;
	padding: 10px 40px 10px 18px;
	appearance: none;
	background-color: #ffffff;
	background-image: url("../images/icons/select.svg");
	background-repeat: no-repeat;
	background-position: right 19px center;
}

.select-control:hover {
	border: 2px solid #68a2ca;
	outline: none;
}

.select-control:focus-visible {
	border: 2px solid #68a2ca;
	outline: none;
}

.view-list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	gap: 8px;
	width: 192px;
	padding: 0;
	margin: 0;
}

.view-link {
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	width: 48px;
	height: 48px;
	border: 2px solid #e5e5e5;
	border-radius: 4px;
	box-sizing: border-box;
	padding: 14px 12px;
}

.view-link:hover {
	outline: 2px solid #000000;
}

.view-link:focus-visible {
	outline: 2px solid #68a2ca;
}

.view-link:active {
	outline: 2px solid #000000;
}

.tiles {
	background-image: url("../images/icons/tiles.svg");
}

.slideshow {
	background-image: url("../images/icons/slideshow.svg");
}

.list {
	background-image: url("../images/icons/list.svg");
}

.view-link-active {
	border: 2px solid #000000;
}

.card-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: grid;
	grid-template-columns: 340px 340px 340px;
	gap: 20px;
}

.card-items {
	background-color: #ffffff;
	border-radius: 4px;
	box-shadow: 0 0 0 1px #e5e5e5;
	padding: 20px;
	display: flex;
	flex-direction: column;
	row-gap: 16px;
}

.card-link {
	text-decoration: none;
	font-family: inherit;
	color: #000000;
	flex-grow: 1;
}

.card-link:hover {
	opacity: 95%;
	color: #615048;
}

.card-link:focus-visible {
	opacity: 95%;
	color: #615048;
	outline: none;
}

.card-link:active {
	opacity: 80%;
	color: #615048;
}

.card-title {
	margin: 0;
	padding: 12px 0 0;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
}

.car-text {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #333333;
}

.type-house {
	margin: 0;
	padding: 0;
}

.price {
	margin: 0;
	padding: 0;
}

.card-button {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.card-btn {
	font-family: inherit;
	color: #ffffff;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	border: none;
	border-radius: 4px;
	width: 140px;
	box-sizing: border-box;
	padding: 8px;
}

.details {
	background-color: #756157;
}

.details:hover {
	background-color: #615048;
}

.details:focus-visible {
	outline: none;
	background-color: #615048;
}

.details:active {
	background-color: #756157;
	color: rgba(255, 255, 255, 0.3);
}

.to-favorites {
	background-color: #82b3d3;
	cursor: pointer;
}

.to-favorites:hover {
	background-color: #68a2ca;
}

.to-favorites:focus-visible {
	outline: none;
	background-color: #68a2ca;
}

.to-favorites:active {
	background-color: #82b3d3;
	color: rgba(255, 255, 255, 0.3);
}

.in-favorites {
	background-color: #7db54f;
	cursor: pointer;
}

.in-favorites:hover {
	background-color: #6c9e42;
}

.in-favorites:focus-visible {
	outline: none;
	background-color: #6c9e42;
}

.in-favorites:active {
	background-color: #7db54f;
	color: rgba(255, 255, 255, 0.3);
}

.rating {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.rating-stars {
	display: inline-block;
	width: 18px;
	height: 17px;
	background: url("../images/icons/star.svg") space 0 0;
}

.stars-two {
	width: 42px;
}

.stars-three {
	width: 66px;
}

.stars-four {
	width: 89px;
}

.stars-five {
	width: 107px;
}

.rating-numbers {
	font-weight: 400;
	color: #333333;
	background: #f2f2f2;
}

.pagination-list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	margin: 0 0 21px;
	padding: 40px 70px;
}

.pagination-link {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: inherit;
	color: #ffffff;
	font-weight: 700;
	font-size: 20px;
	line-height: 36px;
	text-decoration: none;
	background-color: #82b3d3;
	border-radius: 4px;
	min-width: 60px;
	height: 60px;
	box-sizing: border-box;
	padding: 8px;
}

.pagination-link:hover {
	background-color: #68a2ca;
}

.pagination-link:focus-visible {
	outline: none;
	background-color: #68a2ca;
}

.pagination-link:active {
	background-color: #82b3d3;
	color: rgba(255, 255, 255, 0.3);
}

.pagination-active {
	color: #000000;
	background-color: #f2f2f2;
	pointer-events: none;
}

.points {
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	color: #000000;
	background-color: #ffffff;
	pointer-events: none;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(242, 242, 242, 0.8);
	justify-content: center;
	align-items: center;
	display: none;
}

.modal-show {
	display: flex;
}

.modal-window {
	width: 717px;
	min-height: 576px;
	background-color: #ffffff;
	box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
	border-radius: 30px;
	box-sizing: border-box;
	padding: 64px 70px;
	position: relative;
}

.modal-title {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	margin: 0 0 64px;
	padding: 0;
}

.close-modal {
	width: 52px;
	height: 52px;
	position: absolute;
	top: 64px;
	right: 52px;
	background-color: #f2f2f2;
	background-image: url("../images/icons/close-modal.svg");
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	border: none;
	cursor: pointer;
}

.close-modal:hover {
	background-color: #e5e5e5;
}

.close-modal:focus-visible {
	outline: 3px solid #83b3d3;
}

.close-modal:active {
	background-color: #e5e5e5;
	opacity: 30%;
}

.modal-form-list {
	margin: 0 0 23px;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 23px;
}

.modal-form-list:last-of-type {
	margin: 0 0 47px;
}

.modal-form-item {
	display: flex;
	align-items: flex-start;
}

.modal-form-label {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	text-transform: capitalize;
	width: 137px;
	margin: 0;
	padding: 12px 0 0;
}

.popover .modal-form-label {
	width: auto;
	min-width: 59px;
}

.modal-date-box {
	width: 440px;
}

.modal-form-input {
	font-family: inherit;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	background-color: #f2f2f2;
	border: none;
	border-radius: 4px;
	box-sizing: border-box;
	padding: 12px 20px;
	margin: 0;
}

.input-date {
	width: 440px;
	background-image: url("../images/icons/date.svg");
	background-repeat: no-repeat;
	background-position: right 20px center;
}

.input-date:hover {
	outline: none;
	background-color: #e5e5e5;
}

.input-date:focus-visible {
	outline: 3px solid #83b3d3;
	background-color: #e5e5e5;
}

.input-date .input-date .message {
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	color: #333333;
	padding: 4px 0 0 20px;
	margin: 0;
}

.error {
	color: #ff5757;
}

.modal-form-input::-webkit-outer-spin-button,
.modal-form-input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.modal-people-box {
	width: 110px;
	height: 48px;
	background-color: #f2f2f2;
	border-radius: 4px;
	display: grid;
	grid-template-columns: 40px 31px 40px;
	justify-items: center;
	align-items: center;
}

.input-people {
	max-width: 20px;
	text-align: center;
	padding: 0;
	margin: 0;
}

.input-people:focus-visible {
	outline: none;
}

.popover {
	display: flex;
}

.popover-box {
	display: flex;
	width: 132px;
}

.modal-info {
	position: relative;
	padding-top: 11px;
}

.popover-btn {
	width: 26px;
	height: 26px;
	border: none;
	border-radius: 50%;
	background-color: #83b3d3;
	background-image: url("../images/icons/info.svg");
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

.info-show {
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
	background-color: #333333;
	box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	width: 256px;
	height: 143px;
	box-sizing: border-box;
	margin: 0;
	padding: 22px 18px 18px 22px;
	position: absolute;
	top: 51px;
	left: 50%;
	transform: translateX(-50%);
	display: none;
}

.info-show::before {
	content: "";
	display: inline-block;
	border: 10px solid transparent;
	border-bottom: 9px solid #333333;
	position: absolute;
	top: -18px;
	left: 50%;
	transform: translateX(-50%);
}

.modal-info:hover .info-show {
	display: block;
}

.popover-btn:focus-visible,
.popover-btn:focus-visible + .info-show {
	outline: none;
	display: block;
}

.spinners {
	margin: 0;
	padding: 0;
	border: none;
	height: 20px;
	background-color: #f2f2f2;
	color: rgba(117, 97, 87, 0.3);
	cursor: pointer;
}

.spinners:hover {
	color: #000000;
}

.spinners:focus-visible {
	outline: 3px solid #83b3d3;
	border-radius: 4px;
	color: #000000;
}

.spinners:active {
	color: rgba(0, 0, 0, 0.2);
}

.modal-button {
	font-family: inherit;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	border: none;
	border-radius: 10px;
	background-color: #83b3d3;
	padding: 18px 77px;
	width: 100%;
}

.modal-button:hover {
	background-color: #68a2ca;
}

.modal-button:focus-visible {
	background-color: #68a2ca;
	outline: none;
}

.modal-button:active {
	background-color: #68a2ca;
	color: rgba(255, 255, 255, 0.3);
}
